.gpt3__whatgpt3 {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt3__whatgpt3-feature {
    display: flex;

}

.gpt3__whatgpt3-feature,
.gpt3__features-container__feature {
    margin: 0;
}

.gpt3__whatgpt3-feature .gpt3__features-container__feature-text {
    max-width: 6rem;
}

.gpt3__whatgpt3-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 1.5rem;
}

.gpt3__whatgpt3-heading h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

.gpt3__whatgpt3-heading p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--color-subtext);
    cursor: pointer;
    text-align: center;
}

.gpt3__features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}

@media(max-width:550px) {
    .gpt3__features-container__feature {
        display: flex;
        flex-direction: column;
    }

    .gpt3__whatgpt3-heading{
        display: flex;
        flex-direction: column;
    }
}