.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
    width: 6.2rem;
    color: #fff;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
    padding: .2rem 1rem;
    color: #fff;
    background: #ff4820;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.5rem;
    border-radius: .5rem;
    border: 0;
    outline: none;
    cursor: pointer;
}

.gpt3__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 1rem;
    position: absolute;
    top: 4rem;
    right: 0;
    margin: 1rem 0 0 0;
    min-width: 14rem;
    border-radius: .5rem;
    box-shadow: 0 0 5 rgba(0, 0, 0, .2);
    border: .1rem solid #fff;
}

.gpt3__navbar-menu_container p {
    margin: .5rem 0;
}

.gpt3__navbar-menu_container-links-sign{
    display: none;
}

@media (max-width: 1050px){
    .gpt3__navbar-links_container{
        display: none;
    }

    .gpt3__navbar-menu{
        display: flex;
        
    }
}

@media (max-width: 700px){
    .gpt3__navbar{
        padding: 2rem 4rem;
    }
}

@media (max-width: 550px){
    .gpt3__navbar{
        padding: 1rem 1.5rem;
    }
    
    .gpt3__navbar-sign{
        display: none;
    }

    .gpt3__navbar-menu_container{
        top: 2rem;
    }

    .gpt3__navbar-menu_container-links-sign{
        display: block;
    }
}